<%- model_class = System -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @system.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model_id) %>:</strong></dt>
  <dd><%= @system.model.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:entity_id) %>:</strong></dt>
  <dd><%= @system.entity.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:properties) %>:</strong></dt>
  <% @system.entity.properties.each do |prop| %>
    <dd><%= prop.name %>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:system_requirements) %>:</strong></dt>
  <% @system.system_requirements.each do |req| %>
    <dd><%= req.title %></dd>
  <% end %>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              systems_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_system_path(@system), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              system_path(@system),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<%= link_to 'Validate', validate_system_path(@system),
              :class => 'btn btn-success' %>
</div>
